.fixed-header{
    padding: 12px 16px;
    backdrop-filter: blur(42px);
    position: fixed;
    top: 0;
    width: 100%;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content .brand{
    display: flex;
    align-items: center;
    column-gap: 16px;
}


.header-content .brand a{
    height: 36px;
}

.header-content .brand img{
    height: 36px;
    width: 36px;
}

.header-content .page-name{
    text-transform: capitalize;
    padding: 8px 12px 6px 12px;
    border-radius: 27px;
    background-image: linear-gradient(#181818, #131313D4);
    border: 0.75px solid black;
    font-weight: 700;
}

@media (max-width: 576px) {
    .header-content .page-name{
        max-width: 140px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.header-content .collection{
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.menu-icon{
    position: relative;
    width: 36px;
    height: 36px;
    background-image: linear-gradient(#181818, #131313D4);
    border: 0.75px solid black;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.leftright{
    height: 3px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    transform: rotate(0);
    transition: all .1s ease-in;
    margin-bottom: 2px;
    -moz-box-shadow: inset 0 2px 2px #00000080;
    -webkit-box-shadow: inset 0 2px 2px #00000080;
    box-shadow: inset 0 2px 2px #00000080;
}

.rightleft{
    height: 3px;
    width: 16px;
    background-color: #ffffff;
    border-radius: 20px;
    transform: rotate(0);
    transition: all .1s ease-in;
    margin-top: 2px;
    -moz-box-shadow: inset 0 2px 2px #00000080;
    -webkit-box-shadow: inset 0 2px 2px #00000080;
    box-shadow: inset 0 2px 2px #00000080;
}

.close{
    margin: 60px 0 0 5px;
    position: absolute;
}

.menu-icon.close-icon .leftright{
    position: absolute;
    transform: rotate(-45deg);
    background-color: #F25C66;
    margin: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.menu-icon.close-icon .rightleft{
    position: absolute;
    width: 20px;
    transform: rotate(45deg);
    background-color: #F25C66;
    margin: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}